
#App {
  height: 100vh;
  border: 5px solid #b23f41;
  width: 60rem;
  min-width: 80%;
  display: flex;
  place-content: center;
  margin: auto;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



.container-video video {
  width: 100%;
}


.container-img-text {
  margin-bottom: 5rem;
  text-align: center;
  
}


.container-img-text span {
  font-weight: 400;
  color: #de4548;
}


.container-img-text p {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: 900;
}

.container-video {
  width: 100%;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

.container-video:hover .controls {
  transform: translateY(0%);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 30px;
  padding: 14px;
  width: 100%;
  max-width: 500px;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(150%);
  transition: all 0.3s ease-in-out;
}

.actions button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.actions button i {
  background-color: none;
  color: white;
  font-size: 30px;
}

input[type="range"] {
  
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 4px;
  width: 350px;
  cursor: pointer;
  height: 6px;
}



.speed {
  appearance: none;
  background: none;
  color: #2c2b2a;
  outline: none;
  border: none;
  text-align: center;
  font-size: 16px;
}

.mute-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.mute-btn i {
  background-color: none;
  color: white;
  font-size: 20px;
}