body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right top,
    #d2c2cb,
    #cdbfcb,
    #c7bccc,
    #bfb9cc,
    #b6b7cc,
    #b5b7cd,
    #b4b8ce,
    #b3b8cf,
    #bbbad2,
    #c2bcd4,
    #cabfd6,
    #d2c1d7
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
